.logo {
    padding: 10px;
}
h1 {
    padding-top: 150px;
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 300;
    letter-spacing: 1.1px;
    text-align: center;
    color: black;
    margin: auto;
}
h2{
    color: black;
    font-family: Montserrat;
}
#qw {
  color: black;
  padding-left: 520px;
  font-family: Montserrat;
}
#q1 {
  color: black;
  padding-left: 220px;
  font-family: Montserrat;
}
.menu {
    position: relative;
    width: 200px;
    height: 0px;
    background-color: #f2f2f2;
  }
  .menu1 {
    position: relative;
    width: 200px;
    background-color: #f2f2f2;
  }
  .menu-bar {
    width: 30px;
    height: 20px;
    margin: 10px;
    cursor: pointer;
  }

  .bar {
    height: 4px;
    background-color: #333;
    margin-bottom: 4px;
  }

  .menu-items {
    display: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  .menu-items li {
    padding: 10px;
  }

  .menu-items li a {
    text-decoration: none;
    color: #333;
  }

  .menu-items li a:hover {
    color: #666;
  }
.search-bar {
    display: flex;
    justify-content: flex-end;
    padding-right: 159px;
    padding-top: 9px;
  }
  
  .search-form {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 100px;
    overflow: hidden;
   width: 350px;
   padding-bottom: 0px;
  }
  
  .search-input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
  }
  
  .search-button {
    padding: 10px 10px;
    background-color: #f2f2f2;
    cursor: pointer;
    outline: none;
  }
  
  .search-button img {
    width: 18px;
    height: 18px;
    background-color: white;
  }
  
/*#city {
    border: solid 2.5px #ffffff;
    opacity: 0.9;
    font-family: Source Sans Pro;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.4px;
    text-align: left;
}
#button {
    letter-spacing: 0.5px;
    color: #ffffff;
    cursor: pointer;
}*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}
/*.hero {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}*/
.straight-bar {
    width: 100%;
    height: 80px;
    background: linear-gradient(to right, #00A8FF, #8A2BE2);
    animation: travel 2s linear infinite;
  }

  @keyframes travel {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
  }
input {
  font-size: 20px;
  width: 0px;
  border: 0;
  background: transparent;
  outline: none;
  transition: 2s;
}
.active input {
  width: 500px;
  padding: 12px 20px;
}
.active .mic-icon {
  width: 30px;
}
.container {
    max-width: 900px;
    margin: auto;
    visibility: hidden;
}
.container0 {
  max-width: 1000px;
  margin: auto;
  visibility: hidden;
}
.container1 {
  max-width: 1000px;
  margin: auto;
  visibility: hidden;
}
.container2 {
  max-width: 1000px;
  margin: auto;
  visibility: hidden;
}

#destination {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.9px;
    text-align: left;
    color: #27b7c1;
    padding-left: 80px;
}
#s{
   width: 40px;
   position: fixed;
   cursor: pointer;
   
}
#voiceButton{
  width: 40px;
cursor: pointer;
}
.s{
  width: 40px;
cursor: pointer;

}
#s8{
  width: 40px;
  position: fixed;
  cursor: pointer;
  padding-top: 50px;
  padding-left: 0px;
}
#s9{
  width: 40px;
  position: fixed;
  cursor: pointer;
  padding-top: 200px;
  padding-left: 10px;
}
#click3,#s1{
    width: 20px;
  cursor: pointer;
}
.sectiontitle {
    width: 300px;
    align-items: right;
}
.sectiontitle h2 {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 3.4px;
    text-align: left;
    color: #4a4a4a;
}
.weather h2 {
    position: relative;
    padding: 5px;
}
.weather h2 {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 0.78;
    text-align: left;
    color: #4a4a4a;
}
main {
  display: flex;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.rectangle {
  width: 60px;
  height: 200px;
  padding: 20px;
  padding-left: 10px;
  background-color: white;
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
position :fixed;
}
.weather {
    width: 250px;
    height: 280px;
    padding: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.weathericon {
    width: 150px;
    height: 150px;
}
#weather {
    display: flex;
    justify-content: space-between;
    min-height: 170px;
    position : relative;
}
#weather0 {
    display: flex;
    padding-left: 140px;
    padding-top: 10px;
}
#weatherk {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-top: 10px;
}
.venue {
    width: 275px;
    padding: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.venueimage {
    margin-top: 20px;
}
#venues h2 {
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 600;
    line-height: 0.77;
    text-align: center;
    padding-top: 5px;
}
#venues {
    display: flex;
    justify-content: space-around;
    min-height: 250px;
}
#venuesk {
    display: flex;
    padding-left: 140px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#venues0 {
    display: flex;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (max-width: 860px) {
    main {
        background-image: url('https://images.unsplash.com/photo-1587209900507-b13102719674?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
    }
    h1 {
        padding-top: 80px;
        font-size: 32px;
    }
    form {
        margin-top: 30px;
        padding-bottom: 10px;
    }
     #weather {
        display: flex;
        flex-direction: column;
    }
    .venue,.weather {
        margin: 10px auto;
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    .venue,.weather {
        padding: 100px 20px;
        height: 100%;
    }
    .sectiontitle, .sectiontitle h2, #destination {
        margin: auto;
        text-align: center;
    }
}